
.Login-flex-col {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Login-wrapper {
	width: 100%;
	height: 80%;
	justify-content: flex-start;
	font-family: 'Assistant', sans-serif;
}

.Login-login-wrapper,
.Login-new-user-wrapper {
	align-items: flex-start;
	width: 40%;
	font-size: 1.2rem;
	margin-bottom: 5%;
}

.Login-login-wrapper h2 {
	align-self: center;
}

.Login-btn-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 5%;
}

.Login-login-label {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2% 0;
	
}

.Login-login-title {
	margin: 0% 0% 1% 5%;
	text-align: start;
}

.Login-login-input {
	border-color: var(--tag);
	border-radius: 5px;
	text-align: center;
}

.Login-new-user-wrapper h2 {
	align-self: center;
	margin: 0;
}

.Login-login-btn,
.Login-new-user-btn {
	border: 0;
	border-radius: 5px;
	background-color: var(--mainBackground);
	color: #fff;
	padding: 2%;
	text-align: center;
	margin: 0 auto;
}

