
.Logo-container {
	width: 100%;
	height: 20%;
	padding: 2% 5%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: sticky;
	background-color: var(--mainBackground);
}

.Logo-paw-wrapper {
	font-size: 2.5rem;
	display: flex;
	width: 20%;
	height: 100%;
}

.Logo-paw-1,
.Logo-paw-2,
.Logo-paw-3 {
	margin: 0 5%;
}

.Logo-paw-1 {
	align-self: flex-end;
}

.Logo-paw-2 {
	align-self: center;
}

.Logo-text {
	align-self: center;
	color: #fff;
}

.Logo-text h1 {
	font-family: 'Pangolin', cursive;
	font-size: 3.5rem;
}


@media screen and (max-width: 760px) {
	.Logo-container {
		justify-content: space-evenly;
	}

  .Logo-paw-wrapper {
		font-size: 2rem;
		width: 20%;
		height: 80%;
	}
	
	.Logo-text h1 {
		font-size: 2.5rem;
	}
		
}