@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css");

.card {
	width: 25%;
	height: min-content;
	font-weight: 500;
	font-family: 'Assistant', sans-serif;
}

.Card-link {
	width: 100%;
	height: 100%;
}

.image img{
	width: 100%;
	height: 5%;
	background-repeat: no-repeat;
}

.content {
	padding: 0 10%;
	text-align: start;
}

.header,
.description,
.Card-contact-wrapper,
.Card-likes-btns-wrapper,
.Card-favorites-btn-wrapper { 
	font-size: 1.5rem;
	color: var(--icon);
	margin: 6.5% 0;
}

.Card-descrition-title {
	font-weight: bold;
}

.Card-descrition-text {
	color: var(--mainBackground);
}

.Card-contact-wrapper,
.Card-favorites-btn-wrapper, 
.Card-likes-btns-wrapper{
	display: flex;
	align-items: center;
}


.Card-likes-btns-wrapper {
	justify-content: start;
}

.Card-favorites-btn-wrapper{
	justify-content: center;
}


.Card-likes-btn,
.Card-favorites-btn,
.Card-back-btn {
	width: 70%;
	background-color: var(--mainBackground);
	padding: 3%;
	font-weight: 500;
	border: 0;
	border-radius: 5px; 
	font-family: 'Assistant', sans-serif;
	color: #fff;
	cursor: pointer;
}

.Card-likes-btn {
	margin: 5% 10% 0;
}

.Card-back-btn {
	width: 50%;
	margin: 0% auto 5%;
	font-size: 1.2rem;
}