.Navbar-flex-row,
.Navbar-link-flex {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.Navbar {
	width: 100%;
	padding: 2.5% 5%;
	font-size: clamp(1rem, 7vw, 3rem);
	font-family: 'Assistant', sans-serif;
}

.Navbar-link-icon, 
.Navbar-link-text {
	margin: 0 2%;	
}

.Navbar-link-icon {
	padding: 0;
	color: var(--icon);
}
.Navbar-link-text {
	color: var(--mainBackground);
}

@media screen and (max-width: 760px) {
	.Navbar {
		position: fixed;
		bottom: 0;
		background-color: var(--mainBackground);
	}

	.Navbar-link-flex {
		flex-direction: column;
		justify-content: space-between;
	}

	.Navbar-link-text {
		color: #fff;
	}
}