@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css");

.Search-flex {
	display: flex;
	align-items: center;
}

.Search-wrapper {
	width: 100%;
	padding: 3%;
	font-weight: 500;
	font-family: 'Assistant', sans-serif;
	font-size: clamp(1rem, 2rem, 2.5rem);
	color: var(--icon);
}

.Search-filter-sort-wrapper {
	width: 100%;
}

.Search-dropdown-label {
	width: 100%;
	padding: 0 2%;
}

.Search-filter {
	width: 100%;
	justify-content: space-between;
}

.Search-filter-title {
	width: 20%;
}

.ui.multiple.dropdown {
	font-size: 1.4rem;
	max-height: 100%;
}

.Search-filter-location {
	margin: 2%;
}

.ui.selection.active.dropdown {
	border-color: var(--mainBackground);
}

.ui.selection.active.dropdown:hover {
	border-color: var(--mainBackground);
}

.ui.label>.close.icon, .ui.label>.delete.icon {
	margin-left: 0;
	margin-right: 1;
}

.ui.selection.dropdown {
	border-color: var(--mainBackground);
}

.Search-filter-btn{
	padding: 0.8% !important;
}


@media screen and (max-width: 760px) {
	.Search-wrapper {
		margin-top: 50%;
	}

	.Search-cards-wrapper{
		margin-top: -40%;
	}
}