@import url("https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css");

.Search-flex {
	display: flex;
	align-items: center;
}

.Search-wrapper {
	width: 100%;
	padding: 3%;
	font-weight: 500;
	font-family: 'Assistant', sans-serif;
}

.Search-filter-sort-wrapper {
	width: 100%;
}

.Search-filter {
	width: 100%;
}