.App {
  width: 100vw;
  max-width: 2000px;
  height: 100vh;
  text-align: center;
  font-size: 10px;
}


.App-main-wrapper {
  width: 100%;
  min-height: 80%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: start;
  align-items: center;
  padding: 2%;
}

@media screen, (max-width: 760px) {
  .App-main-wrapper {
    flex-direction: column;
  }
}